$white: #ffffff;
$black: #000000;
$black-2: #282f3e;
$gray: #9fa3a9;
$gray-2: #878b94;
$gray-3: #585d68;
$blue: #01befe;
$green: #2ad673;
$yellow: #ffcc48;
$red: #ee6464;

$box-shadow-color: #40404026;
