@import "./colors";
@import "./variables";
@import "./typograpy";

//Media Queries
@import "./media-queries/media-tablet";
@import "./media-queries/media-mobile";

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

// Style Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue;
}
