@import "./colors";

// Fonts Sizes
$size-s: 18px;
$size-m: 22px;
$size-l: 25px;
$size-l-2: 28px;
$size-xl: 30px;
$size-xxl: 36px;

$letter-spacing: 0.5px;

// Fonts Weight
$font-bold: 500;

// Shadows
$box-shadow-style: 0px 2px 10px 0px $box-shadow-color;
